@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kalnia:wght@100;200;300;400;500;600;700&display=swap');

/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Kalnia', serif; */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', sans-serif;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #FF5F01;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #3DA510;
}

hr {
    margin-top: 15px;
    height: 3px;
    outline: none;
    background-color: #13488A;
}


.tribute_page {
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.layer {
    height: 100vh;
    width: 100%;
    position: relative;
    /* background: url(images/india.jpg) center no-repeat;
    background-size: cover; */
}

.layer img {
    width: 100%;
    height: 100%;
}

.layer .ms-img {
    position: absolute;
    width: 50%;
    left: 23%;
    z-index: 9;
}

.head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}


.head h1 {
    font-size: 260px;
    font-weight: 800;
    color: #13488A;
    letter-spacing: 12px;
}

.head h1 span {
    width: 40px;
}

.info {
    min-height: 100vh;
    width: 100%;
    padding: 40px 100px 0px 100px;
    text-align: center;
}

.info h1 {
    font-size: 48px;
    color: #13488A;
    letter-spacing: 2px;
    background: rgb(255, 95, 1);
    background: linear-gradient(90deg, rgba(255, 95, 1, 1) 34%, rgba(19, 72, 138, 1) 53%, rgba(61, 165, 16, 1) 68%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.info h2 {
    letter-spacing: 2px;
}

.info .about {
    padding: 30px 100px;
    text-align: left;
}

.info .box {
    margin-top: 30px;
}

.info .about h2 {
    font-size: 30px;
    color: #13488A;
}

.info .about ul {
    margin: 15px 0 0 45px;
}

.info .about li h3 {
    font-size: 22px;
    font-weight: 100;
    letter-spacing: 1px;
}

.info .about li h3 span {
    color: #FF5F01;
}

.main .quotes {
    padding: 20px 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    text-align: center;
}

.main .quotes h2 {
    font-weight: 400;
    width: 100%;
}

.main .quotes h2 span {
    margin-left: 54%;
    color: #3DA510;
}